@keyframes slideInFromRight {
    0% {
        transform: translateX( 200%);

    } 100% {
        transform: translateX(0);
    }
}
.content-page-wrapper {
    display: flex;
    width: 60vw;
    height: calc(100vh - 125px);
    margin-left: calc(25vw);
    bottom: 0px;
    

    .center-content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-content: center;

        width: 750px;

        border-radius: 7px;
        background-image: linear-gradient(to right,$offwhite , $offwhite);
        box-shadow: 1px 4px 5px 5px grey;

        .contactForm-about-wrapper {
            height: 300px;
            margin-top:75px;
        }

    }


    .img-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width:200px;
        height:200px;
        margin-top: 25px;
        border-radius: 50%;

        img{
            border-radius: 50%;
            border-width: 0px;
            box-shadow: 4px 1px 5px grey;
            margin-top: 90px;
        }
    }

    .text-about-wrapper {
        align-self: center;
        width: 550px;
    }



    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 100px;


        img{
            padding-bottom: 25px;
            transition: 0.8s ease-in-out;

            animation: 0.8s ease-out 0s 1 slideInFromRight;
        }


    }
}


//For Contact Possibly move
.Contact-Form {
    display: flex;
    align-items: center;
    justify-content: center;


    .contact-form {
        display: grid;
        grid-template-rows: 1fr;

        .form-group label, input, textarea {
            display: grid;
            grid-template-rows: 1fr;
            width: 300px;
            padding-bottom:1px;
            margin-top:10px;
        }

        input {

            border-bottom: 1px solid $teal;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            outline: none;
        }
        button {
            width: 100%;
            margin-top: 7px;
        }
    }
}



.social-footer-wrapper {
    display: flex;
    align-items: center;
    justify-self: center;

    .link {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: space-around;

        font-weight: 900;
        font-size: 2.5em;

        div {
            justify-content: space-between;

            padding-right: 10px;
            color: $teal;

            transition: 0.5s ease-in-out;

            &:hover{
                color: $dark-teal;
            }
        }

    }

}